.navbar{
    ul{
        display: flex;
        flex-direction: row;
        li{
            list-style-type: none;
            width: 200px;
            text-align: center;
            border-style: solid;
            border-width: 1px;
            border-color: gray;
            background-color: #242322;
        }
    }
    border: none;
}