<h1>Step 1: Choose your Model and Color</h1>
<div class="modelcolor-container">
    <label>Model: </label>
    <select id="modelSelect" [(ngModel)]="selectedModelOption" (change)="onModelDropDownChanged($event)">
        <option [value]="'default'" selected>Choose...</option>
        <option *ngFor="let item of modelDropdownOptions" [value]="item.code">{{item.description}}</option>
    </select>
    
    <ng-container *ngIf="selectedModelOption != 'default'">
        <label>Color: </label>
        <select id="colorSelect" [(ngModel)]="selectedColorOption"  (change)="onColorDropDownChanged($event)">
            <option *ngFor="let item of colorDropdownOptions" [value]="item.code">{{item.description}}</option>
        </select>
    </ng-container> 
</div>

